.chat-side
    .side-header
        .side-header-box
            %p.name こう
            %ul.icon 
                %li.icon1 
                    = link_to "#" do
                        = icon('fas' ,'edit')
                %li.icon2
                    = link_to "#" do
                        = icon('fas' ,'cog')
    .groups 
        .group
            =link_to "#", class:"group" do
                %p.group-group-name
                test
                %P.group-group-name
                まだメッセージはありません
      
            
    